

            <div class="brand">

                <img src="images/testicon-logo.png" alt="1">

                <!--End of logo-nav-->
                <!--login-form-->
                <form class="navbar-form navbar-right">
                    <h4><small>Don't Have an account - <a href="#about">Sign Up Here</a></small></h4>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password">
                    </div>
                    <button class="btn btn-success" type="submit">Sign in</button>
                </form>
                <!--Endlogin-form-->

            </div>
     

  
    <!--slide Display Content-->
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>Welcome to Testicon</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, explicabo sint aliquam ut mollitia architecto aspernatur enim numquam, sapiente, quis ex voluptatibus. Eius saepe, dignissimos sint asperiores eos id odit.
        </div>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container push-spaces">
                <img src="images/office365.jpg" class="img-responsive">
            </div>
        </div>


    </div> <!-- /container -->
    <!--End slide Display Content-->

    <div id="all-test" class="container">
        <section id="test-dropdown-m" class="col-md-9">

            <h3>Find All your Test Here </h3>

            <div class="dropdown" class="col-md-3">


                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose your Test Center
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Malmö</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Lund</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Helsingborg</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Jönkoping</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Gothenburg</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Stockholm</a></li>
                </ul>







                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Kategori
                    <span class="caret"></span>
                </button>
                <!--ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#">Malmö</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Lund</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Helsingborg</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Jönkoping</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Gothenburg</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Stockholm</a></li>
                  </ul-->










                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Subject
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="#">Malmö</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Lund</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Helsingborg</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Jönkoping</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Gothenburg</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Stockholm</a></li>
                </ul>
            </div>













        </section>
        <section id="sidebar" class="col-md-3">
            <h1>hehe</h1>

        </section>





    </div>



