


<div>
    <form [ngFormModel]="registrationForm" (submit)="doLogin($event)">
        <div class="col-md-5">

            <fieldset class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Enter your full name" #name='ngForm' [ngFormControl]="registrationForm.controls['name']">
                <div *ngIf="name.control.touched">
                    <p *ngIf="name.control.hasError('required')"><span class="error-display">&#42;</span>Name is required.</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" placeholder="Your address" #address='ngForm' [ngFormControl]="registrationForm.controls['address']">
                <div *ngIf="address.control.touched">
                    <p *ngIf="address.control.hasError('required')"><span class="error-display">&#42;</span>address is required</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="postcode">Postcode</label>
                <input type="text" class="form-control" placeholder="Postcode" #postcode='ngForm' [ngFormControl]="registrationForm.controls['postcode']">
                <div *ngIf="postcode.control.touched">
                    <p *ngIf="postcode.control.hasError('required')"><span class="error-display">&#42;</span>postcode is required</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="mailingAddress">Mailing address</label>
                <input type="text" class="form-control" placeholder="Mailing address" #mailingAddress='ngForm' [ngFormControl]="registrationForm.controls['mailingAddress']">
                <div *ngIf="mailingAddress.control.touched">
                    <p *ngIf="mailingAddress.control.hasError('required')"><span class="error-display">&#42;</span>mailing address required</p>
                </div>
            </fieldset>

            <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control" id="country">
                    <option>Sweden</option>
                    <option>Denmark</option>
                    <option>Norway</option>
                    <option>Finland</option>
                </select>
            </div>

            <fieldset class="form-group">
                <label for="personalCodeNumber">Personal code number</label>
                <input type="text" class="form-control" placeholder="Personal code number" #personalCodeNumber='ngForm' [ngFormControl]="registrationForm.controls['personalCodeNumber']">
                <div *ngIf="personalCodeNumber.control.touched">
                    <p *ngIf="personalCodeNumber.control.hasError('required')"><span class="error-display">&#42;</span>personal cod number is required</p>
                </div>
            </fieldset>


            <!-- Gender radio -->
            <!--label>Gender</!--label>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosMale" value="option1" >
                        Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosFemale" value="option2">
                        Female
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosHen" value="option3" >
                        Hen
                    </label>
                </div>
            </div>
            <!-- Gender radio ends -->

            <fieldset class="form-group">
                <label for="telephoneNumber">Telephone number</label>
                <input type="text" class="form-control" placeholder="Telephone number" #telephoneNumber='ngForm' [ngFormControl]="registrationForm.controls['telephoneNumber']">
                <div *ngIf="telephoneNumber.control.touched">
                    <p *ngIf="telephoneNumber.control.hasError('required')"><span class="error-display">&#42;</span>telephone number is required</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" #email='ngForm' [ngFormControl]="registrationForm.controls['email']">
                <div *ngIf="email.control.touched">
                    <p *ngIf="email.control.hasError('required')"><span class="error-display">&#42;</span>email is required</p>
                    <p *ngIf="email.control.hasError('invalidEmail')"><span class="error-display">&#42;</span>email is invalid</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="emailConfirm">Confirm email address</label>
                <input type="email" class="form-control" placeholder="Confirm email" #emailConfirm='ngForm' [ngFormControl]="registrationForm.controls['emailConfirm']">
                <div *ngIf="emailConfirm.control.touched">
                    <p *ngIf="emailConfirm.control.hasError('required')"><span class="error-display">&#42;</span>email comfirmation is required</p>
                    <p *ngIf="emailConfirm.control.hasError('invalidEmail')"><span class="error-display">&#42;</span>email comfirmation is invalid</p>
                </div>
            </fieldset>

     
            <fieldset class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" placeholder="Company" #company='ngForm' [ngFormControl]="registrationForm.controls['company']">
                <div *ngIf="company.control.touched">
                    <p *ngIf="company.control.hasError('required')"><span class="error-display">&#42;</span>company name is required</p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" #password='ngForm' [ngFormControl]="registrationForm.controls['password']">
                <div *ngIf="password.control.touched">
                    <p *ngIf="password.control.hasError('required')"><span class="error-display">&#42;</span>password is required</p>
                    <p *ngIf="password.control.hasError('minlength')"><span class="error-display">&#42;</span>Too short, att least 6 chararacters </p>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" #confirmPassword='ngForm' [ngFormControl]="registrationForm.controls['passwordConfirm']">
                <div  *ngIf="confirmPassword.control.touched">
                    <p *ngIf="password.control.hasError('required')"><span class="error-display">&#42;</span>confirm password is required</p>
                    <p *ngIf="registrationForm.hasError('mismatchedPasswords')"><span class="error-display">&#42;</span>Passwords do not match</p>

                </div>
            </fieldset>

            <button type="submit">Submit</button>
        </div>
    </form>

</div>